//VARIABLES
$col: 100vw / 24;
$base: 18px;
$bezier: cubic-bezier(0.21, 0, 0, 1);

//COLORS
$yellow: #f2c94c;
$blue: #3b52bf;
$blueGradient: linear-gradient(45deg, #364174, #364b74);
$grayGradient: linear-gradient(45deg, #dadde5, #e5e5e5);
