//VARIABLES
$col: 100vw / 24;
$base: 18px;
$bezier: cubic-bezier(0.21, 0, 0, 1);
$borderRadius: 0px;

//COLORS
$yellow: #f2c94c;
$blue: #6e98aa;
$blueGradient: linear-gradient(45deg, #5cb5db, #6e98aa);
$grayGradient: linear-gradient(45deg, #dadde5, #e5e5e5);
$yellowGradient: linear-gradient(45deg, #f2ad4c, #f2c94c);
$blackGradient: linear-gradient(45deg, #000000, #17181a);
