//VARIABLES
$col: 100vw / 24;
$base: 18px;
$bezier: cubic-bezier(0.21, 0, 0, 1);
$borderRadius: 0px;

//COLORS
$yellow: #ffdc41;
$blue: #6e98aa;
$blueGradient: linear-gradient(45deg, #6e98aa, #73bcdb);
$grayGradient: linear-gradient(45deg, #dadde5, #e5e5e5);
$yellowGradient: linear-gradient(45deg, #f2ad4c, #ffdc41);
$blackGradient: linear-gradient(45deg, #000000, #17181a);
