@import "variables";
@import "mixins";

.contact-slide {
	color: white;

	.navbar {
		h2,
		h5 a,
		h5 span {
			color: white;
		}
	}

	.double-flex {
		display: flex;
		align-items: center;
		height: 75%;

		.left-side {
			display: flex;
			justify-content: center;
			align-items: flex-end;
			flex-direction: column;
			width: 50%;
			margin-top: -$col / 2;

			.contact--tagline {
				margin: 0;
				font-weight: 500;
				background: $purpleGradient;
				box-shadow: 0 5px 10px black;
				padding: $col / 3 $col / 2;
				width: $col * 6;
			}

			.contact--social-icons {
				align-self: flex-end;
				margin-top: 2rem;
				color: white;
				fill: white;

				.social-icon {
					background: white;
					border-radius: 2rem;
					font-size: 1.35rem;
					color: white;
					padding: 1rem;
					overflow: visible;

					&:not(:first-child) {
						margin-left: 1.5rem;
					}

					&.light-blue {
						background-color: #41c9f5;
					}
					&.blue {
						background-color: #5375d6;
					}
					&.red {
						background-color: #fc4e4e;
					}
				}
			}
		}

		.right-side {
			.contact-form {
				input,
				textarea {
					border: 0;
					font-weight: 300;
					padding: $col / 4;
					box-sizing: border-box;
					width: $col * 6;

					&:focus {
						outline: none;
					}

					&:not(:first-child) {
						margin-top: $col / 4;
					}
				}

				textarea {
					height: $col * 2;
				}

				.contact-submit {
					background: $purpleGradient;
					border: 0;
					outline: none;
					color: white;
					padding: 1rem 2rem;
					margin-top: $col / 4;
					@include rem(font-size, 20px);
				}
			}
		}
	}
}
