@import "variables";
@import "mixins";
@import "~breakpoint-sass/stylesheets/breakpoint";

$Breakpoint-Settings: (
	"default media": all,
	"default feature": max-width,
	"default pair": width,
	"force all media type": false,
	"to ems": false,
	"transform resolutions": true,
	"no queries": false,
	"no query fallbacks": false,
	"base font size": 16px,
	"legacy syntax": false
);

@keyframes grow {
	from {
		width: 0;
	}
	to {
		width: 85%;
	}
}

.indicator {
	position: absolute;
	bottom: $col;
	left: $col;
	color: black;
	display: flex;
	align-items: flex-end;

	@include breakpoint(1200px) {
		display: none;
	}

	&.light {
		color: white;

		> *::after {
			background-color: white !important;
		}
	}

	.indicator--current {
		line-height: 0;
		display: block;
		margin: 0;
		margin-right: 0.5rem;
		font-family: "Roboto";
		&::after {
			content: "";
			background-color: black;
			animation: grow 400ms $bezier;
			animation-delay: 700ms;
			animation-fill-mode: forwards;
			display: inline-block;
			width: 0;
			margin-top: 3rem;
			margin-left: 3.5%;
			height: 5px;
		}
	}

	.indicator--total {
		opacity: 0.65;
		margin: 0;
		line-height: 0;
		display: block;
		font-family: "Roboto";

		&::after {
			content: "";
			animation: grow 400ms $bezier;
			animation-delay: 1s;
			animation-fill-mode: forwards;
			background-color: black;
			display: inline-block;
			width: 0;
			margin-top: 3.75rem;
			margin-left: 15%;
			height: 5px;
		}
	}
}
