@import "variables";
@import "mixins";

html {
	font-size: $base;
}

body {
	font-family: "Roboto";
	font-size: 100%;
	line-height: 1.6667;
	height: 100vh;
	width: 100vw;
	transition-timing-function: $bezier;
	// opacity: 0;
	// animation: fade-in 600ms;
	// animation-delay: 150ms;
	// animation-fill-mode: forwards;
	animation-timing-function: $bezier;
	background-image: $blueGradient;
}

textarea {
	resize: none;
}

a {
	text-decoration: none;
	transition: 300ms;
	outline: none;
	&:hover {
		opacity: 0.8;
	}
}

h1 {
	@include rem(font-size, 64px);
	line-height: 1.445;
	font-weight: 400;
}

h2 {
	@include rem(font-size, 48px);
	line-height: 1.166;
}

h3 {
	@include rem(font-size, 42px);
}

h4 {
	@include rem(font-size, 36px);
	line-height: 1.477;
}

h5 {
	@include rem(font-size, 24px);
	font-weight: 400;
}

h6 {
	@include rem(font-size, 20px);
	font-weight: 400;
}

.Page-Component {
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	&.section--gradient-gray {
		background: $grayGradient;
	}

	&.section--gradient-black {
		background: $blackGradient;
	}

	&.section--gradient-yellow {
		background: $yellowGradient;
	}
}

.top-level-page {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;
	transition: 300ms;
}

.navbar {
	margin: $col / 2 $col 0;
	text-align: right;

	h5 {
		display: flex;
		align-items: center;
	}

	h5 > *:not(:last-child) {
		margin-right: $col / 2;
	}
}

.page-navigator {
	display: flex;
	justify-content: space-between;
	width: 100%;
	box-sizing: border-box;
	padding: 0 $col;
	top: 50%;
	color: black;
	position: absolute;
	z-index: 0;
	transform: translateY(-50%);
	user-select: none;
	pointer-events: none;
	transition: 225ms $bezier;

	div,
	div > span {
		color: black;
		cursor: pointer;
	}

	&.light {
		color: white;

		div,
		div > span {
			color: white;
		}
	}

	.page-navigator--left {
		margin-right: auto;
		pointer-events: all;

		&:hover {
			.page-navigator--icon {
				transform: translateX(-1vw);
			}
			.page-navigator--text {
				transform: translateX(-1.5vw);
			}
		}
	}

	.page-navigator--right {
		margin-left: auto;
		pointer-events: all;

		&:hover {
			.page-navigator--icon {
				transform: translateX(1vw);
			}
			.page-navigator--text {
				transform: translateX(1.5vw);
			}
		}
	}

	.page-navigator--part {
		display: flex;
		align-items: center;
	}

	.page-navigator--text {
		@include rem(font-size, 24px);
		font-weight: 500;
		transition: 150ms;
	}
	.page-navigator--icon {
		@include rem(font-size, 72px);
		line-height: 0;
		transition: 150ms;
	}
}

.line-through {
	text-decoration: none;
	background: linear-gradient(
		to bottom,
		rgba(1, 1, 1, 0) 0%,
		rgba(1, 1, 1, 0) 54.9%,
		$yellow 55%,
		$yellow 65%,
		$yellow 70%,
		rgba(1, 1, 1, 0) 70.1%,
		rgba(1, 1, 1, 0) 100%
	);
	animation: grow 1s ease;
	background-repeat: no-repeat;

	span {
		display: inline-block;
		padding-right: $col / 2;
	}

	&.page-header {
		background: none;
		display: inline-block;
		width: auto;
		position: relative;
		margin-top: -1rem;
		z-index: 1;

		&::before {
			content: "";
			background: $yellow;
			height: 1rem;
			width: 100%;
			display: block;
			position: absolute;
			top: 1.25rem;
			z-index: -1;
		}

		&.blue-line {
			&::before {
				background: $blue;
			}
		}
	}
}
