@import "variables";
@import "mixins";

.double-flex.full-right {
	margin-right: $col * 2;
	align-items: flex-start;
	margin-top: $col;
}

.featured-post {
	width: $col * 8;
	cursor: pointer;

	@include breakpoint(1024px) {
		width: 90%;
	}

	.featured-post--image {
		width: $col * 8;
		height: $col * 5;
		object-fit: cover;
		z-index: 1;
		transition: 1s $bezier;

		@include breakpoint(1024px) {
			width: 90%;
			height: $col * 8;
		}

		&:hover + .featured-post--info {
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
			transform: translateY(-10%);
		}
	}

	.featured-post--info {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		background-color: #fff;
		padding: $col / 3 $col / 2;
		width: 100%;
		box-sizing: border-box;
		margin-top: -$col;
		margin-left: $col;
		z-index: 2;
		position: relative;
		transition: 225ms $bezier;

		@include breakpoint(1024px) {
			margin-top: -$col * 2;
			padding-bottom: $col;
		}

		&:hover {
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
			transform: translateY(-10px);
		}

		.featured-post--title {
			margin: 0;

			@include breakpoint(1024px) {
				font-size: 1.25rem;
			}
		}

		.featured-post--author {
			float: right;
			margin-top: -0.5rem;
			align-self: flex-end;
		}
	}
}

.post-list {
	margin-left: $col * 2;

	@include breakpoint(1024px) {
		margin: 0;
		margin-top: $col * 2;
	}

	.post-list--item {
		background-color: #fff;
		display: flex;
		height: $col * 2;
		transition: 225ms $bezier;
		cursor: pointer;

		@include breakpoint(1024px) {
			height: auto;
			width: 90%;
		}

		&:hover {
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
			transform: translateY(-5px);
		}

		&:not(:first-child) {
			margin-top: $col / 2;
		}

		.post-list--image {
			flex-grow: 1;
			min-width: $col * 2;
			max-width: $col * 2;
			height: $col * 2;
			display: block;
			object-fit: cover;
			background-color: #ccc;

			@include breakpoint(1024px) {
				height: $col * 4;
				width: $col * 4;
				max-width: initial;
				max-height: initial;
			}
		}

		.post-list--info {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: $col / 3 $col / 3 $col / 4;
			height: $col * 2;
			box-sizing: border-box;

			@include breakpoint(1024px) {
				height: 100%;
			}

			.post-list--title {
				margin: 0;
				@include rem(font-size, 24px);
				line-height: 1.3;
				font-weight: 600;

				@include breakpoint(1024px) {
					font-size: 1.25rem;
				}

				@include breakpoint(600px) {
					font-size: 1rem;
				}
			}

			.post-list--author {
				align-self: flex-end;
			}
		}
	}
}

.more-news {
	background-color: white;
	margin-top: $col;
	width: 100%;
	height: $col;
	padding-left: $col / 4;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	transition: 300ms $bezier;
	cursor: pointer;

	@include breakpoint(1024px) {
		display: none;
	}

	&:hover {
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
		transform: translateY(-5px);
	}

	.more-news--title {
		margin: 0;
		line-height: 1;
		padding-right: $col / 2;
	}

	.more-news--arrow {
		color: white;
		padding: $col / 8;
		box-sizing: border-box;
		height: $col;
		width: $col;
		background-color: black;
	}
}
