@import "variables";
@import "mixins";

.team-members {
	display: grid;
	grid-template-columns: repeat(4, $col * 3);
	grid-column-gap: $col;
	justify-content: center;
	align-items: center;
	margin-top: $col;

	.team-member {
		cursor: pointer;

		&:hover .team-member--info {
			box-shadow: -5px 0 10px rgba(0, 0, 0, 0.12);
			transform: translateY(-10%);
		}

		.team-member--image {
			height: $col * 5;
		}

		.team-member--info {
			background-color: white;
			padding: $col / 4;
			margin-left: $col / 2;
			margin-top: -$col;
			box-sizing: border-box;
			width: 100%;
			transition: 225ms $bezier;
			z-index: 999;
			position: relative;

			.team-member--name {
				margin: 0;
			}

			.team-member--title {
				color: $blue;
			}
		}
	}
}

.team-careers {
	position: absolute;
	bottom: $col;
	right: $col;

	.team-careers--button {
		padding: $col / 8 $col / 2;
		box-sizing: border-box;
		display: block;
		color: black;
		@include rem(font-size, 28px);
		font-weight: bold;
		background-image: $yellowGradient;
		transition: 225ms $bezier;

		&:hover {
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
			transform: translateY(-10%);
			opacity: 1;
		}
	}
}
