@import "variables";
@import "mixins";

.team-members {
	display: grid;
	grid-template-columns: repeat(2, $col * 4);
	grid-column-gap: $col * 2;
	justify-content: center;
	align-items: center;
	height: 80%;
	margin-top: -$col;

	.team-member {
		cursor: pointer;

		&:hover .team-member--info {
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
			transform: translateX($col / 2) translateY(-78%);
		}

		.team-member--image {
			height: $col * 5;
			width: $col * 3;
			border-radius: $borderRadius;
		}

		.team-member--info {
			background-color: white;
			padding: $col / 4;
			margin-top: -$col;
			margin-left: $col * 0.5;
			height: $col;
			transform: translateY(-75%);
			z-index: 999;
			box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
			border-radius: $borderRadius;
			overflow: hidden;
			white-space: nowrap;

			.team-member--name {
				margin: 0;
				font-size: 1.75rem;
			}

			.team-member--title {
				color: $blue;
			}
		}
	}
}

.team-career--button {
	background: $yellowGradient;
	display: inline-block;
	font-weight: 700;
	line-height: 0;
	padding: $col / 3 $col / 2;
	position: absolute;
	bottom: $col;
	right: $col * 2;
	cursor: pointer;
	transition: 225ms $bezier;

	&:hover {
		transform: translateY(-1px);
		box-shadow: 0 3px 8px transparentize(darken($yellow, 15), 0.3);
	}
}
